*{/*todos navegadores tem css pradão pra algumas coisas esse * é o reset que renicia o css dos navegadores*/
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{ /*variaveis do css pode usar para padronizar */
    --black: #0d114f;
    --white: #fafafa;
    --red:#eb3f5b;
    --light-blue: #e0ecff;
    --blue: #3485ff;
    --background:#f6faff;   
    --overlay: #040911;
    --icons-details: #a5b0c1;

    --grey-dark: #4d5e77;
    --grey-blue: #a1b2cd;
    --grey-light: #e5eaf1;
    --grey-medium: #eaecf2;
    /* 1rem = 16px = 100% */
    font-size: 62.5%; /*62.5% = 10px facilita a divisão pra usar o rem*/
}

body{
    display: flex;
    height: 100vh; /*vh - view height tamanho da tela na verdical  vw - view width tamanho da tela na horizontal*/
    background: var(--background); /*var(--nome_da_variavel) utiliza o valor settado ali emcima*/ 
}

body, button, input, textarea{

    font-size: clamp(14px, 1.6rem, 2vw);/*clamp - intervalo de tamanho. O minimo que a letra pode chegar em telas
    pequenas 14px e em telas grandes 2 vw*/
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.content{
    width:100%;
    margin: 0 auto;


}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;/*sem Barra de rolagem*/
    clip-path: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

/* Input e button */
input, button, .button{
    border-radius: .8rem;
    height: 5rem;
}

button, .button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: var(--blue);
    color: var(--white);

    transition: filter .2s;

    cursor: pointer; /*Mãozinha quando o cursor estiver emcima*/
}

button:hover ,.button:hover{
    filter: brightness(1.2); /*aplica um filtro de brilho*/

}

button > img,
.button > img{
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined{
    background: var(--white);
    color: var(--blue);

    border: .2rem solid var(--blue);
}

button.red,
.button.red{
    background: var(--red);
    color: var(--white);
}

button.grey,
.button.grey{
    background: var(--grey-light);
    color: var(--grey-dark);
    
}


/* Header */

.content header{
    width: 80%;
    margin: 3.5rem auto;
}

.content header img{
    width: 16.7rem;

}